*.ipynb_*
*.dat
*.onnx
*.caffemodel
*.prototxt
lesson_10_tracking/datasets
lesson_12_neural_networks/data
lesson_13_neural_networks/data
lesson_14_convolutional_neural_networks_part_1/logs
lesson_15_convolutional_neural_networks_part_2/data
lesson_16_convolutional_neural_networks_part_3/data
lesson_18/data
lesson_18/runs
lesson_18/data.yaml
lesson_18/yolov8s.pt
