*.ipynb_*
*.dat
*.onnx
*.caffemodel
*.prototxt
lesson_10_tracking/datasets
lesson_12_neural_networks/data
lesson_13_neural_networks/data
lesson_14_convolutional_neural_networks_part_1/logs
lesson_15_convolutional_neural_networks_part_2/data